# Task 1: Data Cleaning and Preprocessing

# 1: First we import relevant python modules/libraries

In [96]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
import math

# 2: Read the dataset

In [97]:
df= pd.read_csv("Sales.csv")

# 3: Preview the data

In [98]:
df.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [94]:
df.index

Index([     0,      1,      2,      3,      4,      5,      6,      7,      8,
            9,
       ...
       113026, 113027, 113028, 113029, 113030, 113031, 113032, 113033, 113034,
       113035],
      dtype='int64', length=112036)

In [99]:
df.columns

Index(['Date', 'Day', 'Month', 'Year', 'Customer_Age', 'Age_Group',
       'Customer_Gender', 'Country', 'State', 'Product_Category',
       'Sub_Category', 'Product', 'Order_Quantity', 'Unit_Cost', 'Unit_Price',
       'Profit', 'Cost', 'Revenue'],
      dtype='object')

In [79]:
df.size

2016648

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  object
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: int64(9), object(9)
memory usage: 15.5+ MB

# 4:Let's see the dimension of the data

In [101]:
df.shape

(113036, 18)

# 5: Check for missing values

In [102]:
df.isnull().sum()

Date                0
Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64

In [7]:
df.isna().sum()

Date                0
Day                 0
Month               0
Year                0
Customer_Age        0
Age_Group           0
Customer_Gender     0
Country             0
State               0
Product_Category    0
Sub_Category        0
Product             0
Order_Quantity      0
Unit_Cost           0
Unit_Price          0
Profit              0
Cost                0
Revenue             0
dtype: int64

In [19]:
df.isna().values.any()

False

# 6 : Check for duplicates

In [25]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
113031    False
113032    False
113033    False
113034    False
113035    False
Length: 112036, dtype: bool

In [26]:
df.duplicated().sum()

0

# 7: Standardize text values

In [27]:
print("Unique Gender Values:", df['Customer_Gender'].unique())
print("Unique Country Names:", df['Country'].unique())

Unique Gender Values: ['M' 'F']
Unique Country Names: ['Canada' 'Australia' 'United States' 'Germany' 'France' 'United Kingdom']

# 8: Convert Date foramt

In [103]:
print(df['Date'].head())
print(df['Date'].dtype)

0    2013-11-26
1    2015-11-26
2    2014-03-23
3    2016-03-23
4    2014-05-15
Name: Date, dtype: object
object

In [104]:
# Convert and standardize date
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')
df['Date'] = df['Date'].dt.strftime('%d-%m-%Y')

In [105]:
print(df[['Date']].head())

         Date
0  26-11-2013
1  26-11-2015
2  23-03-2014
3  23-03-2016
4  15-05-2014

# 9 : Rename Column header to be clean and uniform(lowercase,no space)

In [106]:
df.columns

Index(['Date', 'Day', 'Month', 'Year', 'Customer_Age', 'Age_Group',
       'Customer_Gender', 'Country', 'State', 'Product_Category',
       'Sub_Category', 'Product', 'Order_Quantity', 'Unit_Cost', 'Unit_Price',
       'Profit', 'Cost', 'Revenue'],
      dtype='object')

In [44]:
df.columns = (
    df.columns
    .str.strip()                # Remove leading/trailing spaces
    .str.lower()                # Convert to lowercase
    .str.replace(' ', '_')      # Replace spaces with underscores
    .str.replace('[^a-z0-9_]', '', regex=True)  # Remove special characters
)

In [46]:
df.columns

Index(['date', 'day', 'month', 'year', 'customer_age', 'age_group',
       'customer_gender', 'country', 'state', 'product_category',
       'sub_category', 'product', 'order_quantity', 'unit_cost', 'unit_price',
       'profit', 'cost', 'revenue'],
      dtype='object')

# Verify the result

In [110]:
print("After cleaning:")
print(df.columns.tolist())

After cleaning:
['Date', 'Day', 'Month', 'Year', 'Customer_Age', 'Age_Group', 'Customer_Gender', 'Country', 'State', 'Product_Category', 'Sub_Category', 'Product', 'Order_Quantity', 'Unit_Cost', 'Unit_Price', 'Profit', 'Cost', 'Revenue']

In [111]:
def clean_column_names(dataframe):
    dataframe.columns = (
        dataframe.columns
        .str.strip()
        .str.lower()
        .str.replace(' ', '_')
        .str.replace('[^a-z0-9_]', '', regex=True)
    )
    return dataframe

# Use it
df = clean_column_names(df)

In [112]:
df.columns

Index(['date', 'day', 'month', 'year', 'customer_age', 'age_group',
       'customer_gender', 'country', 'state', 'product_category',
       'sub_category', 'product', 'order_quantity', 'unit_cost', 'unit_price',
       'profit', 'cost', 'revenue'],
      dtype='object')

# 10 : Check fix Data Types

In [113]:
print(df.dtypes)

date                object
day                  int64
month               object
year                 int64
customer_age         int64
age_group           object
customer_gender     object
country             object
state               object
product_category    object
sub_category        object
product             object
order_quantity       int64
unit_cost            int64
unit_price           int64
profit               int64
cost                 int64
revenue              int64
dtype: object

In [72]:
numeric_cols = [
    'date','day', 'year', 'customer_age', 'order_quantity',
    'unit_cost', 'unit_price', 'profit', 'cost', 'revenue',
]

df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

In [114]:
categorical_cols = [
    'month', 'age_group', 'customer_gender', 'country',
    'state', 'product_category', 'sub_category', 'product'
]

df[categorical_cols] = df[categorical_cols].astype('category')

# Result

In [115]:
df['date'] = pd.to_datetime(df['date'], errors='coerce', dayfirst=True)

In [116]:
print(df.dtypes)

date                datetime64[ns]
day                          int64
month                     category
year                         int64
customer_age                 int64
age_group                 category
customer_gender           category
country                   category
state                     category
product_category          category
sub_category              category
product                   category
order_quantity               int64
unit_cost                    int64
unit_price                   int64
profit                       int64
cost                         int64
revenue                      int64
dtype: object

# Final Result

In [117]:
df.head()

,date,day,month,year,customer_age,age_group,customer_gender,country,state,product_category,sub_category,product,order_quantity,unit_cost,unit_price,profit,cost,revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418